<h1><i class="fa fa-user"></i> Edit Student</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editing <%= @student.full_name %></h3>
  </div>
  <%= form_for @student, :html => { :class => "panel-body" } do |f| %>
    <% if @student.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <p><i class="fa fa-exclamation-circle"></i> Your submission could not be saved due to the following <%= 'error'.pluralize(@student.errors.count) %>:</p>
        <ul>
        <% @student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.collection_select :title_id, Title.order(:title).all, :id, :title %>
    </div>
    <div class="form-group">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="form-group">
      <%= f.label :middle_name %><br>
      <%= f.text_field :middle_name %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    <div class="form-group">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :birth_date %><br>
      <%= f.text_field :birth_date, :type => 'date', min: '1900-01-01', max: Date.today %>
    </div>    
    <div class="form-group">
      <%= f.label :gender %><br>
      <%= f.select :gender, options_for_select({ 'Male' => 'M', 'Female' => 'F', 'Other' => 'O' }) %>
    </div>    
    <%= button_tag "Submit", :class => "btn btn-primary" do %>
      <i class="fa fa-save"></i> Save
    <% end %>
    <%= link_to 'Cancel', :back, :class => "btn btn-default" %>
  <% end %>
</div>
