<h1><i class="fa fa-user"></i> Student Details</h1>
<div class="panel panel-primary">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left"><%= @student.full_name %></h3>
    <%= link_to @student, method: :delete, class: "btn btn-danger btn-xs pull-right panel_button", data: { confirm: "Deleting things causes them to be gone and regret to set in later. Are you sure you want to do this?" } do %>
      <i class="fa fa-trash"></i> Delete
    <% end %>    
    <%= link_to edit_student_path(@student), class: "btn btn-default btn-xs pull-right panel_button" do %>
      <i class="fa fa-pencil"></i> Edit
    <% end %>
  </div>
  <table class="table">
    <tr>
      <th class="col-lg-2" scope="col">Title</th>
      <td><%= @student.title %></td>
    </tr>  
    <tr>
      <th class="col-lg-2" scope="col">First Name</th>
      <td><%= @student.first_name || (raw '<em>None</em>') %></td>
    </tr>
    <tr>
      <th scope="col">Middle Name</th>
      <td><%= @student.middle_name || (raw '<em>None</em>') %></td>
    </tr>
    <tr>
      <th scope="col">Last Name</th>
      <td><%= @student.last_name %></td>
    </tr>
    <tr>
      <th scope="col">Email Address</th>
      <td><%= @student.email %></td>
    </tr>
    <tr>
      <th scope="col">Birth Date</th>
      <td><%= @student.birth_date %></td>
    </tr>
    <tr>
      <th scope="col">Gender</th>
      <td><%= @student.gender %></td>
    </tr>    
  </table>
</div>
